# dependencies
node_modules/

# build
dist/
build/
tmp/
.temp
.tmp

# env files
.env
.env.local
.env.development
.env.test
.env.production

# prisma
prisma/generated/

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.idea/
.vscode/

# misc
coverage/
